[Unit]
Description=GitHub Merge Queue Notifier
 
[Service]
Type=simple
WorkingDirectory=/opt/github-merge-queue-notifier
ExecStart=/usr/local/bin/pipenv run hypercorn mergequeue:app -b localhost:8085 -w 3
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
